@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-image: url(bookbg.jpg);
  background-size: cover;
  opacity: 0.95;
  height: 100vh;
}
.main-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 50%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eeeeee;
}

.list {
  font-size: large;
  font-weight: 700;
  display: flex;
  cursor: pointer;
}
.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-footer button {
  width: 100%;
  border-radius: 25px;
}

a {
  display: block;
  padding: 0.9rem;
  height: 100%;
  text-decoration: none;
  color: #eeeeee;
}
a:hover {
  background-color: rgb(80, 80, 80);
}
ul {
  list-style: none;
  margin: 0.6rem;
}
th {
  background-color: black !important;
  color: white !important;
  padding: 1em !important;
}
td {
  padding: 1em !important;
}
table {
  font-size: 1.2em !important;
}

section {
  width: 50%;
}
th:nth-child(5),
td:nth-child(5) {
  text-align: center;
  width: 25%;
}
