@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.main-container {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
header {
  width: 50%;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  font-size: large;
  font-weight: 700;
  display: flex;
  cursor: pointer;
}

a {
  display: block;
  padding: 0.9rem;
  height: 100%;
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: rgb(192, 192, 192);
}
ul {
  list-style: none;
  margin: 0.6rem;
}

section {
  width: 50%;
}
th:nth-child(5),
td:nth-child(5) {
  text-align: center;
  width: 25%;
}
